<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
			<br><br>
			<ul class="list-group">

				<div *ngIf="onlyOdd">
					<li class="list-group-item" *ngFor="let number of evens" [ngClass]="{odd: number % 2 !==0}"
						[ngStyle]="{backgroundColor: number % 2 !==0 ? 'black' : 'cyan'}">
						{{number}}
					</li>
				</div>

				<div *ngIf="!onlyOdd">
					<li class="list-group-item" *ngFor="let number of odds" [ngClass]="{odd: number % 2 !==0}"
						[ngStyle]="{backgroundColor: number % 2 !==0 ? 'black' : 'cyan'}">
						{{number}}
					</li>
				</div>

				<ng-template [ngIf]="!onlyOdd">
					<div>
						<li class="list-group-item" *ngFor="let number of odds" [ngClass]="{odd: number % 2 !==0}"
							[ngStyle]="{backgroundColor: number % 2 !==0 ? 'black' : 'cyan'}">
							{{number}}
						</li>
					</div>
				</ng-template>

				<div *appUnless="onlyOdd">
					<li class="list-group-item" *ngFor="let number of odds" [ngClass]="{odd: number % 2 !==0}"
						[ngStyle]="{backgroundColor: number % 2 !==0 ? 'black' : 'cyan'}">
						{{number}}
					</li>
				</div>

				<ng-template [appUnless]="onlyOdd">
					<div>
						<li class="list-group-item" *ngFor="let number of odds" [ngClass]="{odd: number % 2 !==0}"
							[ngStyle]="{backgroundColor: number % 2 !==0 ? 'black' : 'cyan'}">
							{{number}}
						</li>
					</div>
				</ng-template>

				<div [ngSwitch]="value">
					<p *ngSwitchCase="5">Value is 5.</p>
					<p *ngSwitchCase="10">Value is 10.</p>
					<p *ngSwitchCase="50">Value is 50.</p>
					<p *ngSwitchDefault>Value is "default".</p>
				</div>

				<p appBasicHighlighter>Style me with "basic-highlighter".</p>
				<p appBetterHighlighter [defaultColor]="'yellow'" [highlightColor]="'red'">Style me with a
					"better-highlighter".</p>

			</ul>
		</div>
	</div>
</div>